.eslint.config.mjs


**/__tests__
**/*.spec.*
**/*.test.*
**/jest.config.*

.gitignore
.next
out

**/.git
**/.vscode
**/.idea
**/node_modules
**/dist
**/build
**/coverage
**/*.log
**/*.md
**/yarn.lock
*.pdf
.env
docker-compose*.yml
certs/
cmd/
doc/

**/*.key
**/*.pem
**/*.crt
**/secrets/*
!step-ca/secrets/*
dist
coverage
*.log
*.md
.env*
Dockerfile*

.eslint*
.jest*
.vscode
.idea
__tests__