**/.git
**/.vscode
**/.idea
**/node_modules
**/dist
**/build
**/coverage
**/*.log
**/*.md
**/package-lock.json
**/yarn.lock
*.pdf
.env
docker-compose*.yml
pki/
cmd/
doc/

**/*.key
**/*.pem
**/*.crt
**/secrets/*
!step-ca/secrets/*
**/.next
**/.cache
**/.env.local
**/Dockerfile*
**/docker-compose*
**/README.md
**/tsconfig.json
**/*.tsbuildinfo
**/yarn-error.log
**/.yarn
**/next-env.d.ts