**/*.spec.js
**/*.test.js
coverage/

**/tsconfig.json
**/webpack.config.js

*.log
debug/

**/.git
**/.vscode
**/.idea
**/node_modules
**/dist
**/build
**/coverage
**/*.log
**/*.md
**/yarn.lock
*.pdf
.env
docker-compose*.yml
certs/
cmd/
doc/

**/*.pem
**/secrets/*
.next
node_modules
dist
out
coverage
Dockerfile*
docker-compose*
tsconfig.json
next.config.*
postcss.config.*
tailwind.config.*
.eslint*
.jest*
.vscode
.idea
__tests__